#app {
    text-align: center;
    background-color: blue;
    width: 800px;
    margin: auto;
}

.personagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item img{
    max-width: 200px;
}